# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# .NET
bin/
obj/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React build
build/
dist/

# Docker
*.env

# Rider / VSCode
.idea/
.vscode/

# PostgreSQL
*.pgsql
